@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin : 0;
	padding: 0;
	margin: 0;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	width: 30%;
	border: 2px solid burlywood;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.logo {
	height: 120px;
	text-align: center;
}

.logo a {
	display: inline-block;
	height: 100%;
}

.logo img {
	height: 100%;
}

.info_box {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 12px;
}

.top {
	text-align: center;
}

.id_box>input {
	width: 65%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 12px;
}

.address_box>input:nth-child(1) {
	width: 55%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 12px;
}

.btn {
	width: 25%;
	height: 40px;
}

.pw input, .ad input, .ph input, .name{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 12px;
}

.id_box, .address_box {
	position: relative;
}

.id_box button, .address_box input:nth-child(2) {
	position: absolute;
	right: 0;
}

.find {
	width: 35%;
	height: 40px;
}

.foot {
    position: relative;
    height: 50px; 
    margin-top: 12px;
}

#join {
    position: absolute;
    width: 47%;
    height: 40px;
    left: 0;
}

#cancle {
    position: absolute;
    width: 47%;
    height: 40px;
    right: 0;
}

#cancle button {
	width: 100%;
	height: 100%;
}

.wrang_box {
	display: none;
}

.pwwrang {
	display: none;
}