@charset "UTF-8";

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 30%;
	border: 2px solid var(--main-color);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login_logo {
	height: 120px;
	text-align: center;
}

.login_logo a {
	display: inline-block;
	height: 100%;
}

.login_logo img {
	max-width: 100%;
	height: 100%;
}

.login_box {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.login_box input {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1.5px solid #b5b4b6;
	padding: 13px 52px 13px 13px;
	margin-bottom: 12px;
}

.btn_box {
	text-align: center;
}

#login {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background: var(--main-color);
	color: var(--white-color);
	margin-bottom: 12px;
	border: none;
}

.btn_box a {
	text-decoration: none;
	color: black;
	font-size: 0.3em;
}

.login_box > p {
	font-size: var(--font-to-small);
	text-align: center;
	color: gray;
	margin-bottom: 12px;
}

.social_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_box a {
	display: block;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.social_box a:first-child {
	margin-right: 6px;
}

.social_box a:last-child {
	margin-left: 6px;
}

.social_box a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrang_box {
	display: none;
}

.error {
	color: red;
}

#join {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: 1px solid var(--main-color);
	margin-bottom: 12px;
	border: none;
}