<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
	</settings>

	<typeAliases>
		<typeAlias type="kr.ac.kopo.model.Book" alias="Book"/>
		<typeAlias type="kr.ac.kopo.model.Customer" alias="Customer"/>
		<typeAlias type="kr.ac.kopo.model.Api" alias="Api"/>
		<typeAlias type="kr.ac.kopo.model.Wish" alias="Wish"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/book.xml"/>
		<mapper resource="mybatis/customer.xml"/>
		<mapper resource="mybatis/api.xml"/>
		<mapper resource="mybatis/wish.xml"/>
	</mappers>

</configuration>
