@charset "UTF-8";

.main_container {
 	width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.detail_container {
	display: flex;
    padding-top: 56px;
}

.left_box {
	flex: 0 0 500px;
}

.inner_box {
    padding: 50px 0;
    background: rgba(248, 248, 248, 0.5);
}

.img_box {
	width: 400px;
	height: 600px;
	margin: 0 auto;
}

.img_box img {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.img_box img:hover {
	transform: scale(1.1);
}

.right_box {
    margin-left: 50px;
    width: 100%;
} 

.name {
	font-size: 28px;
    font-weight: 700;
}

.writer, .publisher {
	font-size: 13px;
    color: #80888a;
}

.heart {
    width: 25px;
    height: 25px;
}

.heart img {
	width: 100%;
	height: 100%;
}

.review {
	margin-top: 8px;
}

.review img {
	max-width: 12px;
}

.review .review_text {
    font-weight: 700;
    font-size: 14px;
}

.review .side {
    font-size: 14px;
    color: var(--border-color);
}

.price_box {
	margin-top: 32px;
    border-bottom: 1px solid var(--line-color);
}

.price {
	color: #ee293b;
    font-size: 32px;
    font-weight: 700;
}

.won {
    color: #ee293b;
    font-size: 16px;
    font-weight: 500;
}
.amount, .plus_minus {
	display: flex;
}

.amount {
	padding: 0 20px;
    height: 60px;
    align-items: center;
    justify-content: space-between;	
    background-color: #f8f8f8;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 20px;
}

.plus_minus button {
	width: 30px;
    height: 30px;
    background: white;
    border: 1px solid;
    border-color: #eee;
    color: #333;
}

.plus_minus input {
    padding: 0 6px;
    vertical-align: middle;
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-color: #eee;
    border-width: 1px 0;
}

.cart_price_box span:nth-child(1) {
	color: #ee293b;
	font-size: 20px;
    font-weight: 700;
}

.cart_price_box span:nth-child(2) {
	color: #ee293b;
    margin-left: 1px;
    font-size: 13px;
}

.btn_box {
	display: flex;
	justify-content: space-around;
}

.cart, .buy {
	flex: 1;
	height: 48px;
	border: none;
    border-radius: 5px;
}

.cart {
	background: var(--cart-color);	
	color: var(--white-color);
	margin-right: 6px;
}

.buy {
	background: var(--buy-color);	
	color: var(--white-color);
	margin-left: 6px;
}

.detail_nav_list {
	margin-top: 80px;
}

.detail_nav {
	height: 72px;
	border-bottom: 1px solid #d5d5d5;
}

.nav_box {
	max-width: 1200px;
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
}

.nav li a {
	display: block;
	text-decoration: none;
	color: var(--font-color-light-gray);
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
}

.nav li a:first-child {
	padding-left: 0px;
}

.book_detail_box {
	width: 1200px;
	margin: 0 auto;
}

.duse, .winfo {
	font-size: 15px;
	color: var(--font-color);
}

.question {
	list-style: none;
}

.faq_section, .related_boos, .book_info, #writer_info, .review_box, .claim_box {
	border-bottom: 1px solid var(--line-color);
	padding: 25px 0px 25px;
}

.claim_box h2 {
	font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    color: #3d3c3f;
}

div > h3 {
	font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    color: #3d3c3f;
}

.claim_box table {
	width: 100%;
}

.claim_box table tbody th {
	font-size: .85rem;
    text-align: center;
    text-indent: 0;
    border-top: solid 1px #dbdbdb;
    background-color: #f8f8f8;
    vertical-align: middle;
    color: #222;
    line-height: 1.6;
    padding: 0 10px;
}

.claim_box table tbody td {
	padding: 15px;
    box-sizing: border-box;
    border-top: solid 1px #dbdbdb;
}

.claim_box table tbody td li {
	font-size: .825rem;
    line-height: 2;
    letter-spacing: -.35px;
    word-spacing: -.5px;
    color: #80888a;
    float: unset;
}

/* 별 */

.star_box {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
}

.rating {
  width: fit-content;
  display: flex;
  cursor: pointer;
  gap: 2px;
  justify-content: center;
}

/* js로 주입한 star 요소에 대한 스타일 */
.star {
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
  padding: 20px;
}

.star:hover,
.star.filled {
  transform: scale(1.2);
}

.star-empty,
.star-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: clip-path 0.2s ease;
}

.star-empty {
  background-image: url('/resources/images/star.png'); 
}

.star-fill {
  background-image: url('/resources/images/full_star.png'); 
  clip-path: inset(0 100% 0 0);
}

/* 리뷰 별 */

.review_star_box {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
}

.review_rating {
  width: fit-content;
  display: flex;
  justify-content: center;
}

/* js로 주입한 review_star 요소에 대한 스타일 */
.review_star {
  position: relative;
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
  padding: 12px;
}

.review_star-empty,
.review_star-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.review_star-empty {
  background-image: url('/resources/images/star.png'); 
}

.review_star-fill {
  background-image: url('/resources/images/full_star.png'); 
}
/* end 별 */

/* 주의 사항 */

.caution {
	display: flex;
}

.caution div {
	width: 23px;
	height: 100%;
}

.caution div img {
	width: 100%;
	height: 100%;
}

.caution:hover {
	cursor: pointer;
}

.Hright2 {
	position: relative;
}

.popup {
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    z-index: 1;
}

.Ere_layerst_Tit2 {
	background: #fff;
    position: relative;
    margin: 0;
    padding: 25px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 400px;
}

.Ere_layerst_Tit2 h3 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #444;
}

.Ere_layerst_Tit2 .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.Ere_space20 {
    margin: 0;
    padding: 0;
    height: 20px;
}

.Ere_layerst_Tit2 .bt_list3 {
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0em;
}

.Ere_space5 {
    margin: 0;
    padding: 0;
    height: 5px;
}

.Ere_layerst_Tit2 .bt_list3 ul {
    margin: 0;
    padding: 0;
}

.Ere_layerst_Tit2 .bt_list3 ul li {
    list-style: none;
    margin: 0;
    padding: 0 0 7px 0px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #333;
    font-weight: normal;
}

/* end주의 사항 */


.review_write {
	display: flex;
}

.review_write textarea {
	flex: 1;	
	border: 1px solid var(--line-color);
    border-radius: 5px;
	resize: none;
	padding: 10px;
}

.review_write textarea:focus {
	outline: 0;
}

.review_write button {
	width: 95px;
	height: 90px;
	margin-left: 12px;
	border: none;
	border-radius: 5px;
	background: var(--cart-color);
	color: var(--white-color);
}



.review_list_box {
    border-bottom: 1px solid var(--line-color);
}

.review_content {
	border-top: 1px solid var(--line-color);
    position: relative;
    padding: 20px 10px;
    display: none;
}

.review_header {
	display: flex;
	margin-bottom: 16px;
}

.info_item {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    vertical-align: top;
}

.gap {
	display: inline-block;
    font-size: 0;
    width: 1px;
    height: 9px;
    background-color: #d5d5d5;
    margin: 5px 6px 0 8px;
    vertical-align: top;
    box-sizing: border-box;
}

.info_item, .gap{
	color: var(--font-color-light-gray);
}

.right_area {
	margin-left: auto;
}

.review_body {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 66px;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: -o-ellipsis-lastline;
    white-space: normal;
    word-break: break-all;
}

.review_foot {
	margin-top: 12px;
	display: flex;
}

.review_list_empty {
	width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0px;
    color: var(--font-color-light-gray);
}

.claim_box {
	border-top: 1px solid var(--line-color);
}

.btn_like, .btn_reply {
	display: flex;
	align-items: center;
	border: none;
	position: relative;
}

.ico_like {
    display: inline-block;
    height: 20px;
    background-size: 18px 17px;
    width: 20px;
    background-repeat: no-repeat;
	background-image: url("/resources/images/good.png");
    margin-right: 5px;
}

.ico_reply {
	 display: inline-block;
    height: 20px;
    background-size: 20px 20px;
    width: 20px;
    background-repeat: no-repeat;
	background-image: url("/resources/images/comment.png");
    margin-right: 5px;
}

.ico_like_text, .ico_reply_text {
    margin-right: 5px;
}

.right_area {
	display: flex;
}

.select {
	display: block;
	margin-left: auto;
	height: 38px;
	padding: 0 14px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    outline: none;
}

.review_list {
	margin-top: 6px;
}

.select_box {
	margin-top: 30px;
}

.select_box option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.more_button {
    margin: 10px 0;
    cursor: pointer;
    height: 40px;
    background: var(--line-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related_box {
	display: flex;
	justify-content: space-between;
}

.relate {
    max-width: 180px;
	display: flex;
    flex-direction: column;
}

.relate_img_box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 257px;
}

.relate_img_box a {
	display: block;
    width: 100%;
    height: 100%;
}

.relate_img_box img {
    width: 100%;
    height: 100%;
}

.relate_star img {
	max-width: 12px;
}

.relate_name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
	font-weight: 600;
    margin-top: 25px;
}

.relate_name a {
	text-decoration: none;
	color: #333;
}

.relate_name a:hover {
	text-decoration: underline;
}

.relate_wr_pu {
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    color: var(--border-color);
}

.relate_price {
	font-weight: 600;
}

.relate_review {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}