@charset "UTF-8";
* {
	box-sizing: border-box;
}
section {
	display: flex;
    min-width: 1200px;
    max-width: 1200px;
	margin: 0 auto;
}

.container_box {
	display: flex;
	flex-direction: column;
	padding-left: 40px;
}

.all_box {
	margin-left: auto;
}

.all_box input {
	width: 22px;
    height: 15px;
}

.all_box button {
	width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 1.5px solid #b5b4b6;
    margin-top: 12px;
    margin-right: 12px;
}

.sidemenu {
	margin: 0;
	padding: 0;
	list-style: none;	
	min-width: 170px;
	border-bottom: 1px solid #adb5bd;
    margin-bottom: 12px;
}
.sidemenu_box h1 {
	font-size: 28px;
}

.sidemenu li {
	font-size: 14px;
	margin-bottom: 12px;
}

.sidemenu li:first-child {
	font-size: 16px;
	font-weight: 700;
}

.menu_check {
    text-decoration: underline;
}

.check_box {
	width: 22px;
    height: 15px;
}

.item_list {
	list-style: none;
	width: 100%;
	padding: 0px;
}

.item_list li {
	border-top: 1px solid #adb5bd;
}
.item_list li:last-child {
	border-bottom: 1.5px solid #adb5bd;
}

.item {
	display: flex;
	height: 234px;
    align-items: center;
    margin: 10px 0px
}

.item_img {
    height: 100%;
    min-width: 141px;
    max-width: 142px;
    min-height: 206px;
    max-height: 206px;
}

.img_box {
	height: 100%;
}

.img_box a {
	display: block;
    width: 100%;
    height: 100%;
}

.item_img img {
    width: 100%;
    height: 100%;
}

.item_info {
	margin-left: 16px;
	position: relative;
    width: 71%;
	min-width: 642px;
    max-width: 642px;
    height: 206px;
}

.item_info a {
	text-decoration: none;
	color: black;
}

.buycart {
    max-width: 150px;
    min-width: 150px;
    text-align: right;
}

.buycart div:nth-child(2) {
	align-items: center;
}
.buycart button {
	width: 50%;
	height: 40px;
	border-radius: 5px;
	border: 1.5px solid #b5b4b6;
	margin-top: 12px;
}

.info {
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
   	position: absolute;
	bottom: 0;
	font-size: 14px;
	color: #333;
}
.buycart {
	position: relative;
    height: 100%;
    text-align: center;
}

.heart {
    width: 25px;
    position: absolute;
    height: 25px;
    right: 45px;
    top: 21%;
}

.btn {
    position: absolute;
    bottom: 25%;
}

.heart img {
	width: 100%;
	height: 100%;
}

.heart i {
    color: #333;
}

.item_name {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.item_writer, .item_publisher {
    font-size: 12px;
    color: #b5b4b6;
}

.item_publisher {
    border-right: 1px solid lightgray;
    padding-right: 10px;
}

.item_price {
    font-weight: 700;
}

.item_writerInfo {
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.page_box {
	display: flex;
    justify-content: center;
}

.page_box > div {
	padding: 10px;
}

.page_box > div > a {
	text-decoration: none;
	color: gray;
	
}

.first i, .prev i {
	transform: rotate(180deg);
}

.check {
	flex: 0 0 32px;
	height: 206px;
}

.check input {
	position: absolute;
}

.hide {
	display: none;
}
#modal {
    z-index: 1;
}

.modal {

    position: absolute;
    height: 179px;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 32px 32px 32px;
    background: #fff;
    border-radius: 5px;
}

.disc {
    height: 45px;
    margin-top: 24px;
    text-align: center;
    line-height: 50px;
}

.btn_group {
	margin-top: 34px;
	display: flex;
}

.btn_group button{
	flex: 1;
    margin: 0 3px;
    height: 44px;
    border-radius: 5px;
    border: 1.5px solid #b5b4b6;
    text-align: center;
}

.modal_background {
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}